<header class="header" role="banner">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
        <img src="{{uiRootPath}}/img/logo.png" alt="logo">
      </a>
      <a class="navbar-item" href="{{or site.url (or siteRootUrl siteRootPath)}}">
          <div class="navbar-item" >{{site.title}}</div>
      </a>
      <div class="navbar-item search">
          <button type="button" class="search">
          </button>
          <input id="search-input" class="searchbox" type="search" placeholder="Search docs" autofocus />
      </div>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="{{uiRootPath}}/attachments/CV_PRadermecker_en_2019.pdf">Curriculum Vitae</a>
          </span>
        </div>
        <a class="navbar-item" href="https://github.com/PierreR" alt="Github">
          <img src="{{uiRootPath}}/img/github-mark.png" alt="Github" title="Github" />
        </a>
        </div>
      </div>
    </div>
  </nav>
</header>
